In [7]:
import pandas as pd
import numpy as np 
data=pd.read_csv('C:/Users/Marta Lobo/Documents/ISAG/Porgramming/iris.csv')
names=
data.head(5)

                  sepal_length  sepal_width  petal_length  petal_width  class
0  5.1,3.5,1.4,0.2,Iris-setosa          NaN           NaN          NaN    NaN
1  4.9,3.0,1.4,0.2,Iris-setosa          NaN           NaN          NaN    NaN
2  4.7,3.2,1.3,0.2,Iris-setosa          NaN           NaN          NaN    NaN
3  4.6,3.1,1.5,0.2,Iris-setosa          NaN           NaN          NaN    NaN
4  5.0,3.6,1.4,0.2,Iris-setosa          NaN           NaN          NaN    NaN